<div>
    <div class="row">
      <div class="col-1 col-xl-2"></div>
  
      <div class="col-12 col-xl-4 col-lg-4 col-md-12 col-sm-12">
  
          <div class="row search-container">
              <div class="col-1 col-xl-2"></div>
              <div class="col-10 col-xl-8">
                <img src="../../../assets/Icons/Icon feather-search.png" class="button">
                <input type="text" class="no-outline" placeholder="Search recipes..">
              </div>
              <div class="col-1 col-xl-2"></div>
            </div>
        <div class="mt-30"></div>
        <A HREF="http://localhost:4200/Dashboard">
          <img src="../../../assets/back.jpeg" class="back-key">
        </A>
        
        <h6>Go Back</h6>
        <div class="mt-30"></div>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="../../../assets/video.mp4" allowfullscreen></iframe>
        </div>
        <div class="mt-30"></div>
        <h4>Ingredients :</h4>
        <div class="mt-20"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.</p>
  
        <h4>How to prepare :</h4>
        <div class="mt-20"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <br>
  
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.</p>
        <br>
        <p>Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.</p>
  
  
  
      </div>
  
      <div class="col-1">
  
      </div>
  
      <div class="col-12 col-xl-3 col-lg-3 col-md-12 col-sm-12">
        <p class="receipe">RECEIPE</p>
        <h2 id="Cheese">Cheese Burst</h2>
        <div class="mt-30"></div>
        <div class="rated">
          <p class="rating"><span>4/5</span>
            <img src="../../../assets/Icons/Icon awesome-star.png" class="star">
            <img src="../../../assets/Icons/Icon awesome-star.png" class="star">
            <img src="../../../assets/Icons/Icon awesome-star.png" class="star">
            <img src="../../../assets/Icons/Icon awesome-star.png" class="star">
          </p>
  
  
        </div>
        <div class="mt-20"></div>
  
        <p class="description">DESCRIPTION</p>
        <div class="mt-20"></div>
  
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.
        </p>
        <div class="row">
          <div class="flex-container">
            <div><span class="num">8</span> ingredients</div>
            <div><span class="num">220</span> bucks</div>
            <div><span class="num">25</span> minutes</div>
          </div>
        </div>
  
        <div class="mt-20"></div>
  
        <h5 class="fav">FAVOURITE THIS RECEIPE<img src="../../../assets/Icons/Icon feather-heart-color.png" class="heart">
        </h5>
  
        <hr>
  
        <p>ADD COMMENTS</p>
  
  
        <input type="text" class="txt-box" placeholder="Type something here">
        <button type="button" class="btn btn-success">ADD COMMENT</button>
  
  
      </div>
  
      <div class="col-1 col-xl-2"></div>
      <hr>
  
  
    </div>
  </div>
  <div class="container">
    <hr class="line">
    <div class="centered">YOUR FOOD TASTES YUMMY</div>
  </div>
  