@import '../../../assets/Fonts/stylesheet.css';
@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
.font-style {
    font-family: 'Metropolis Extra';
}
.dashboard-wrapper {
    .cards-container {
        padding-top: 3em !important;
    }
    margin-top: 5em;
    margin-bottom: 5em;
    .search-container {
        .no-outline{
            outline: none;
            border: none;
            padding-left: 20px;
            background-color: rgba(0,0,0,0);
            
            }
    }
    .row {
        margin: 0px !important;
    }
    .remove-padding {
        padding-left: 8px;
        padding-right: 8px;
    }
    .title-container {
        width: 100%;
        text-align: right;
        margin-right: 1em;
        margin-bottom: 1em;
        .category-heading {
            font-size: 12px;
              font-family: 'Metropolis-Bold';
              color: grey;
        }
        .category {
            font-size: 48px;
              font-family: 'Metropolis-Bold';
        }
    }
}
.minus-margin {
    margin-top: -3em;
}
@include media-breakpoint-down(lg) {
    .minus-margin {
        margin-top: 0px;
    }
}

@media (min-width: 1400px) {
    // .padding {
    //     padding-right: 6em;
    //     padding-left: 6em;
    // }
}